@use "./_shared" as *;

.cluster-labels {
  @include setup-container;
}
.cluster-labels-setup {
  @include setup-left;
}
.cluster-labels-preview {
  @include setup-right;
}
.preview {
  @include setup-preview;
  position: relative;
}
.navigate {
  @include setup-navigate;
}
.step {
  @include setup-step;
}
.cluster-labels-form {
  @include setup-form;
}
.cluster-labels-list {
  @include item-list;
}
.item {
  @include setup-item;
}
.selected {
  @include selected;
}
.item-info {
  @include setup-item-info;
}
.item-deps {
  @include setup-item-deps;
}
.delete {
  @include setup-delete;
}
.run-id {
  @include mono-fact;
}
.cluster-labels-form-label {
  @include setup-form-label;
}
.cluster-labels-form input {
  width: 84px;
  @include numeric-input;
}
.cluster-labels-table {
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  padding: var(--ls-space-2);
}
