.dataset {
  display: flex;
  flex-direction: column;
  gap: var(--ls-space-2);
  padding: 0 var(--ls-space-3);
}

.reimport {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ls-space-3);
  margin: var(--ls-space-2) 0;
  padding: var(--ls-space-2) var(--ls-space-3);
  background-color: var(--color-background-critical);
  border: 1px solid var(--semantic-color-semantic-critical);
  border-radius: var(--ls-radius-2);
}

.warning {
  font-size: var(--ls-text-sm);
  font-weight: 600;
  color: var(--text-color-text-critical);
}

.loading {
  padding: var(--ls-space-4);
}
