
.preview {
  padding: 0;
  position: relative;
}
.preview-header {
  position: absolute;
  top: -70px;
}

.search-box {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.search-input {
  flex-grow: 1;
}
.search-button {
  flex-grow: 0;
}
.search-button-container {
  padding-top: 6px;
}

.row-information {
  margin-top: 6px;
  padding-top: 0px;
  padding: 6px;
  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  span {
    display: flex;
    align-items: center;
    min-height: 42px; // Match button height
  }
}

.scatter-container {
  margin-top: 6px;
  border: 1px solid var(--borders-color-border-1);
  border-radius: 6px;
  padding: 6px;
}

.tooltip-content {
  max-height: 300px;
  overflow: hidden;
}

.view-toggle {
  margin-top: 8px;
  // width: 100%;
}