.preview {
  padding: 0;
  position: relative;
}

.search-box {
  display: flex;
  flex-direction: row;
  gap: var(--ls-space-3);
}
.search-input {
  flex-grow: 1;
}
.search-button {
  flex-grow: 0;
}
.search-button-container {
  padding-top: var(--ls-space-2);
}

.row-information {
  margin-top: var(--ls-space-2);
  padding: var(--ls-space-2);
  div {
    display: flex;
    align-items: center;
    gap: var(--ls-space-2);
  }

  span {
    display: flex;
    align-items: center;
    min-height: 42px; // Match button height
    font-family: var(--ls-font-mono);
    font-size: var(--ls-text-xs);
    font-variant-numeric: tabular-nums;
    color: var(--text-color-text-subtle);
  }
}

.scatter-container {
  margin-top: var(--ls-space-2);
  border: 1px solid var(--borders-color-border-1);
  border-radius: var(--ls-radius-2);
  padding: var(--ls-space-2);
}

.tooltip-content {
  max-height: 300px;
  overflow: hidden;
}

.view-toggle {
  margin-top: var(--ls-space-2);
}
