
.embeddings-form {

}
.embeddings-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 12px 0;
}


.embeddings-list input, .embeddings-list label {
  cursor: pointer;
}

.truncate {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 6px 0;
}

.batch-size {
  width: 45px;
}
.max-seq-length {
  width: 55px;
}

.delete {
  max-height: 33px;
  margin-left: auto;
  
}

.item {
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 6px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
@media (prefers-color-scheme: dark) {
  .item {
    background-color: #333;
  }
}

.button {
  font-size: 0.85em !important;
  height: 1.25em !important;
  line-height: 1.25em !important;
  background-color: #fefefe;
}
.item span {
  line-height: 1em;
}
.item select {
  height: 2em;
}

.potential-embeddings {

}
.potential-embedding {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #efefef;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
}

.pe-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

