.umaps-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}
.umaps-item {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  padding: 6px;
  margin-top: 12px;
  width: 132px;
  user-select: none;
}
.umaps-item label {
  cursor: pointer;
}

.umaps-item img {
  width: 120px;
  height: 120px;
  user-select: none;
}

.umaps-align {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.umaps-align-info {
  font-style: italic;
  margin: 6px;
}
.umaps-align label {
  cursor: pointer;
  padding: 4px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  border-radius: 5px;
}

