.umap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 100%;
}

.umap-setup {
  display: flex;
  flex-direction: column;
  width: 48%;
  overflow-y: auto;
}

.umap-preview {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.preview {
  flex-grow: 1;
  min-height: 0;
}
.navigate {
  padding: 12px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}

.step {
  margin: 6px 0;
}


.umap-form {
  margin: 6px;
  padding: 6px 12px;
  padding-bottom: 12px;
  border: 1px solid var(--borders-color-border-1);
  border-radius: 5px;
  flex-shrink: 0;
}

.umap-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}

.umap-form-label {
  width: 90px;
  display: inline-block;
}

.umap-form input {
  width: 84px;
}


.umap-form-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.umaps-align {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.umaps-align-info {
  font-style: italic;
  margin: 6px;
}
.umaps-align label {
  cursor: pointer;
  padding: 4px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.umap-form-save {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.tooltip {
  max-width: 340px;
}

.umap-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  // flex-grow: 1;
  min-height: 0;
}
.umap-list input, .embeddings-list label {
  cursor: pointer;
}

.item {
  background-color: var(--neutrals-color-neutral-1);
  border-radius: 5px;
  margin: 6px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  // max-width: 300px;
  height: fit-content;
  justify-content: space-between;
  // height: 140px;
}
.item.selected {
  background-color: var(--neutrals-color-neutral-2);
}
.item-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  span {
    line-height: 1.25em;
  }
}
.item-deps {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.item select {
  height: 2em;
}
@media (prefers-color-scheme: dark) {
  .item {
    background-color: #333;
  }
}
.delete {
  max-height: 33px;
  margin-left: auto;
}

.item img {
  width: 120px;
  height: 120px;
  user-select: none;
}

