.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  
  &.active {
    background-color: var(--background-alt);
  }
}

.filterCell {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 8px;
}

.count {
  display: flex;
  align-items: center;
  gap: 8px;
}

.columnSelect {
  min-width: 200px;
}