.container {
  width: calc(100% - 80px);
}

.dropdownContainer {
  position: relative;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid var(--color-border-1);
  border-radius: var(--input-border-radius);
  background-color: var(--color-neutral-0);
  color: var(--color-text-main);
  font-size: var(--input-font-size);
  
  &::placeholder {
    color: var(--color-text-subtle);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-text-reverse);
    background-color: var(--color-neutral-0-reverse);
    border-color: var(--color-border-3);
  }
}

.clearButton {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: var(--color-text-subtle);
  
  &:hover {
    color: var(--color-text-main);
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--color-neutral-0);
  border: 1px solid var(--color-border-1);
  border-radius: var(--dropdown-border-radius);
  margin-top: var(--dropdown-margin-top);
  z-index: 1000;
  box-shadow: var(--button-box-shadow);

  @media (prefers-color-scheme: dark) {
    color: var(--color-text-reverse);
    background: var(--color-neutral-0-reverse);
    border-color: var(--color-border-3);
  }
}

.item {
  margin: 8px;
  cursor: pointer;
  color: var(--color-text-main);
  
  &:hover {
    background-color: var(--color-interaction-secondary-hover);
  }
  
  &.highlighted {
    background-color: var(--color-neutral-1);
  }
  
  &.selected {
    background-color: var(--color-neutral-2);
    color: var(--color-interaction-primary);
    font-weight: var(--font-body-semibold-weight);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-text-reverse);
    &:hover {
      background-color: var(--color-interactions-menu-hover);
    }
    
    &.highlighted {
      background-color: var(--color-border-3);
    }
    
    &.selected {
      background-color: var(--color-border-2);
    }
  }
}

.filterCell {
  width: 100%;
  
  &.middle {
    color: var(--color-text-subtle);
    font-size: var(--font-body-sm);
  }
}