.filter-actions-container {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.filter-actions-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.filter-actions-button {
  border-radius: 4px !important;
}

.filter-actions-button:hover {
  background-color: var(--interactions---primary-color-interaction-primary-hover) !important;
}

.filter-actions-button.active {
  background-color: var(--interactions---primary-color-interaction-primary-active);
}
