.filter-actions-container {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.filter-actions-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.filter-actions-button {
  border-radius: 4px !important;
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
}

.filter-actions-button.active {
  background-color: var(--interactions---primary-color-interaction-primary) !important;
  color: white !important;
}

.filter-actions-button:focus {
  outline: none !important;
}

.filter-actions-button.not-active {
  background-color: transparent !important;
  color: var(--text-color-text-primary) !important;
  opacity: 0.75;
}

.filter-actions-button:hover {
  background-color: var(--interactions---primary-color-interaction-primary-hover) !important;
}

.filter-actions-button.active {
  background-color: var(--interactions---primary-color-interaction-primary-active);
}

@media (prefers-color-scheme: dark) {
  .filter-actions-button {
    border: .5px solid var(--neutrals-color-neutral-3) !important;
  }
}
