.container {
  display: flex;
  flex-direction: column;
  gap: var(--ls-space-2);
}

.actionsRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--ls-space-2);
  margin-top: var(--ls-space-2);
  align-items: center;
}
