.page {
  display: flex;
  flex-direction: column;
  gap: var(--ls-space-3);
  padding: var(--ls-space-2);
}

.title {
  margin: 0;
}

.job-id {
  font-family: var(--ls-font-mono);
  font-size: var(--ls-text-md);
  font-weight: 400;
  font-variant-numeric: tabular-nums;
  color: var(--text-color-text-subtle);
}

