.setup {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--ls-nav-height));
  overflow: hidden;
}

.steps {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--ls-space-2);
  flex-grow: 1;
  overflow: hidden;
}

.stepRenderer {
  flex-grow: 1;
  min-height: 0;
}
