table.datatable {
  max-width: 100%;
  border-collapse: collapse;
}

.datatable th, .datatable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.datatable th {
  background-color: #f4f4f4;
}

.datatable .tag-active {
  background-color: #fff;
  border: 1px solid gray;
}
.datatable .tag-inactive {
  background-color: #eee;
  filter: grayscale(100%);
  opacity: 0.5;
}