
.dataset--umaps-new {
  max-width: 640px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 12px;
}
.dataset--umaps-new form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 640px;
  
}
/* Styling for each UMAP and Cluster section */
.dataset--umaps-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.dataset--details-clusters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.dataset--details-umap {
  /* display: flex; */
  /* align-items: center; */
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #999;
  max-width: 480px;
}
.dataset--details-cluster {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  min-width: 400px;
}

/* Styling for the text details in UMAP and Cluster sections */
.dataset--details-umap h3, .dataset--details-cluster h3 {
  width: 350px;
  margin-right: 20px;
  flex-grow: 1; /* Makes the text occupy the remaining space */
}
.dataset--details-umap button {
  margin: 0 5px;
}

.dataset--details-umap-stats {
  width: 250px;
}
.dataset--details-cluster-stats {
  width: 250px;
}

/* Thumbnail styling */
.dataset--details-umap img, .dataset--details-cluster img {
  max-width: 200px; /* Adjust as per your requirement */
  max-height: 200px;
  object-fit: cover;
  border: 1px solid lightgray;
  margin: 5px;
}