#root {
  /* max-width: 1280px; */
  max-width: 100%;
  margin: 0;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}


.page {
  padding-top: 40px;
  height: calc(100vh - 40px);
}