#root {
  max-width: 100%;
  margin: 0;
}

.page {
  padding-top: var(--ls-nav-height);
  height: calc(100vh - var(--ls-page-offset));
}

.docs-banner {
  display: block;
  padding: var(--ls-space-2) var(--ls-space-3);
  width: 100%;
  background-color: var(--color-background-subtle-callout);
  color: var(--text-color-text-main);
  border-bottom: 1px solid var(--borders-color-border-1);
  text-decoration: underline;
}

.tooltip-area {
  z-index: var(--ls-z-tooltip);
}
