.dataset--explore {
  display: grid;
  grid-template-columns: 548px 1.5fr 1fr; /* Left: 500px, Middle: 2/3 of remaining, Right: rest */
  gap: 6px; /* This adds space between your columns */
  height: 100%; 
  overflow: hidden;
}

.dataset--explore .column {
  display: flex;
  flex-direction: column;
}

.dataset--explore .first-row {
  margin: 6px 12px;
  padding: 6px;
  height: 124px; /* Fixed height for the first row */
  border: 1px solid lightgray;
  border-radius: 5px;
}

.dataset--explore .second-row {
  margin: 6px 12px;
  flex-grow: 1; /* Takes up the remaining space */
}


/* LEFT COLUMN */
/* FIRST ROW: Dataset summary */
.dataset--explore .summary {
  max-width: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dataset--explore .summary h3 {
  margin: 0;
}
.dataset--explore .summary h3 a {
  margin-left: 12px;
}

/* SECOND ROW: UMAP */
.dataset--explore .umap-container {
  /* max-height: 500px; */
}
.dataset--explore .scatters {
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 6px;
}

/* THIRD ROW: hovered data point */
.dataset--explore .hovered-point {
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.dataset--explore .hovered-point .key {
  font-weight: bold;
}
.dataset--explore .hovered-point .value {
  margin-left: 10px;
}


/* MIDDLE COLUMN */
/* FIRST ROW: Search & Tags */
.dataset--explore .search-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.dataset--explore .search-tags .new-tag {
  margin: 6px 0;
}
.dataset--explore .search-tags .new-tag form {
  display: inline;
  width: 160px;
  border: 1px solid lightgray;
  padding: 7px;
}
.dataset--explore .search-tags .new-tag input {
  width: 60px;
}

/* SECOND ROW: Tabs */
.dataset--tab-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 650px;
  width: 650px;
  max-height: 610px;
  height: 610px;
  overflow-y: scroll;
  border: 1px solid lightgray;
}

.dataset--tab-content table, 
.dataset--tab-content tbody, 
.dataset--tab-content tr {
  max-width: 650px;
}

.tab-active {
  color: seagreen;
  font-weight: bold;
  background-color: lightgray; 
}



/* Styling for nearest neighbors section */
.dataset--neighbors {
  max-width: 760px;
}
.dataset--neighbors input {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 1em;
}
.dataset--neighbors button {
  margin: 5px;

}


/* RIGHT COLUMN */
/* FIRST ROW: Selector */

/* SECOND ROW: Clusters */





.dataset--explore .slide-bar {
  padding: 6px;
  height: 100%;
}