/* General styling for dataset summary */
.dataset--details {
  max-width: 100%;
  width: 100%;
  padding: 10px;
}
.dataset--details-summary {
  margin: 10px 0px;
}

.dataset--scope-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 650px;
}
/* Styling for the scope */
.dataset--scope {
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.dataset--tab-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 650px;
  width: 650px;
  max-height: 610px;
  height: 610px;
  overflow-y: scroll;
  border: 1px solid lightgray;
}

.dataset--tab-content table, 
.dataset--tab-content tbody, 
.dataset--tab-content tr {
  max-width: 650px;
}

.tab-active {
  color: seagreen;
  font-weight: bold;
  background-color: lightgray; 
}

.dataset--hovered-table {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: calc(100% - 30px);
  height: 100%;
  padding: 5px;
  margin: 10px 0;
  /* max-height: 50px; */
  /* height: 50px; */
  /* overflow-y: hidden; */
  /* flex-basis: 650px; not sure why this is the number */
}
.dataset--selected-table {
  /* flex-grow: 1; */
  /* overflow-y: auto; */
}


/* Styling for nearest neighbors section */
.dataset--neighbors {
  max-width: 760px;
}
.dataset--neighbors input {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 1em;
}
.dataset--neighbors button {
  margin: 5px;

}

.new-tag {
  display: inline;
  width: 160px;
  border: 1px solid lightgray;
  padding: 7px;
}
.new-tag input {
  width: 40px;
}

.dataset--explore .slide-bar {
  position: fixed;
  right: 0;
  top: 40px;
  width: 350px;
  height: 100%;
}