.filter-data-table {
  width: calc(100% - 2px);
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  margin-top: 8px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* justify-content: center; */
  height: 90%;
}

.filter-data-table-page-controls {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  font-size: 14px;
  padding: 4px 0px;
}

.filter-data-table table {
  border-spacing: 0;
}
.filter-data-table th {
  text-align: left;
  padding: 0 6px;
  border-right: 1px solid #ccc;
}
.filter-data-table td {
  text-align: left;
  padding: 3px 6px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.filter-data-table .ls-cluster select {
  max-width: 200px;
}
.filter-data-table .tags {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.filter-data-table-scrollable-body:hover {
  overflow-y: auto;
}


.filter-data-table .tag-active {
  background-color: #fff;
  border: 1px solid gray;
}

.filter-data-table .tag-inactive {
  background-color: #eee;
  filter: grayscale(100%);
  opacity: 0.5;
}

.filter-data-table .text-column {
  background-color: var(--neutrals-color-neutral-2);
  font-weight: bold;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .filter-data-table .tag-active {
    background-color: #111;
    border: 1px solid gray;
  }
  .filter-data-table .tag-inactive {
    background-color: #333;
  }
  .filter-data-table .text-column {
    color: rgb(17, 17, 17);
  }
}

/* React-Data-Grid */
.rdg-row {
  cursor: pointer;
}

.rdg-row:hover {
  background-color: var(--interactions---secondary-color-interaction-secondary-hover);
}

.rdg-cell {
  border-inline-end: 0 !important;
  border-block-end: 0.5px solid #ededed !important;
}

.rdg {
  border: 0px solid #ededed !important;
  /* overflow-y: hidden; */
}

@media (prefers-color-scheme: dark) {
  .rdg-row:hover {
     background-color: #555;
  }
}

.feature-cell {
  padding: 8px;
}

.feature-cell:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.feature-cell.expanded {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 8px;
  height: 100%;
  overflow-y: auto;
}
.minimize-btn {
  margin-bottom: 8px;
  padding: 2px 8px;
  font-size: 12px;
}

.feature-modal-content {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
