.filter-data-table {
  width: calc(100% - 2px);
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  margin-top: 8px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* justify-content: center; */
  height: 90%;
}

.filter-data-table-page-controls {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  font-size: 14px;
  padding: 4px 0px;
}

.filter-data-table table {
  border-spacing: 0;
}
.filter-data-table th {
  text-align: left;
  padding: 0 6px;
  border-right: 1px solid #ccc;
}
.filter-data-table td {
  text-align: left;
  padding: 3px 6px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.filter-data-table .ls-cluster select {
  max-width: 200px;
}
.filter-data-table .tags {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.filter-data-table-scrollable-body:hover {
  overflow-y: auto;
}


.filter-data-table .tag-active {
  background-color: #fff;
  border: 1px solid gray;
}

.filter-data-table .tag-inactive {
  background-color: #eee;
  filter: grayscale(100%);
  opacity: 0.5;
}

.filter-data-table .text-column {
  background-color: var(--neutrals-color-neutral-2);
  font-weight: bold;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .filter-data-table .tag-active {
    background-color: #111;
    border: 1px solid gray;
  }
  .filter-data-table .tag-inactive {
    background-color: #333;
  }
  .filter-data-table .text-column {
    color: rgb(17, 17, 17);
  }
}

/* React-Data-Grid */
.rdg-row {
  cursor: pointer;
}

.rdg-row:hover {
  background-color: var(--interactions---secondary-color-interaction-secondary-hover);
}

.rdg-cell {
  border-inline-end: 0 !important;
  border-block-end: 0.5px solid #ededed !important;
}

.rdg {
  border: 0px solid #ededed !important;
  /* overflow-y: hidden; */
}

@media (prefers-color-scheme: dark) {
  .rdg-row:hover {
     background-color: #555;
  }
}

.feature-cell {
  padding: 8px;
}

.feature-cell:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.feature-cell.expanded {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 8px;
  height: 100%;
  overflow-y: auto;
}
.minimize-btn {
  margin-bottom: 8px;
  padding: 2px 8px;
  font-size: 12px;
}

.feature-modal-content {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}

.feature-cell-button {
  padding: 2px;
  color: var(--neutrals-color-neutral-3) !important;
}

.feature-modal-item-filter-link:hover {
  color: var(--interactions---primary-color-interaction-primary) !important;
}

.feature-cell-button-container {
  display: flex;
  justify-content: center;
}

.feature-modal {
  padding: 0px;
  width: 800px !important;
}

.feature-modal-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.feature-modal-text {
  font-weight: bold;
  font-size: 1.25rem;
}

.feature-modal-item-filter-link {
  /* font-size: 14px; */
  /* color: var(--neutrals-color-neutral-3); */
  margin: 0px 4px;
  cursor: pointer;
}

.feature-modal-item {
  margin-bottom: 4px;
  position: relative;
  /* cursor: pointer; */
  padding: 2px 4px;
  border-radius: 4px;
  /* margin: 2px 0; */
  /* width: 100%; */
  height: 24px;
}

.feature-modal-item-background {
  position: absolute;
  z-index: 0;
  height: 100%;
  background-color: var(--interactions---primary-color-interaction-primary);
  opacity: 0.25;
  border-radius: 4px;
}
/* .feature-label:hover {
  color: var(--interactions---primary-color-interaction-primary-active);
} */

.feature-label {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  text-decoration: none;
  color: inherit;
  padding-left: 4px;
}

.feature-modal-item-filter-text {
  font-size: 14px;
  color: var(--neutrals-color-neutral-3);
  margin-left: 4px;
  display: none;
  text-decoration: underline;
}

.feature-modal-item-filter-link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--neutrals-color-neutral-3);
}

.feature-modal-item-filter-link:hover {
  text-decoration-color: var(--interactions---primary-color-interaction-primary);
}

.feature-modal-item:hover .feature-modal-item-filter-text {
  display: inline;
  cursor: pointer;
}
