.filter-data-table {
  display: flex;
  flex-direction: column;
}

.filter-data-table-page-controls {
  flex-shrink: 0; 
  margin-top: 0px; 
  padding: 6px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 4px;
}

.filter-data-table .ls-cluster select {
  max-width: 200px;
}
.filter-data-table .tags {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.filter-data-table .tag-active {
  background-color: #fff;
  border: 1px solid gray;
}

.filter-data-table .tag-inactive {
  background-color: #eee;
  filter: grayscale(100%);
  opacity: 0.5;
}


@media (prefers-color-scheme: dark) {
  
  .filter-data-table .tag-active {
    background-color: #111;
    border: 1px solid gray;
  }
  .filter-data-table .tag-inactive {
    background-color: #333;
  }
}