.home {
  padding: 12px 12px;
  overflow-y: scroll;
  height: 100%;
}

.home .new {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.home .section {
  margin: 12px 24px;
}

.home .new-dataset form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  gap: 10px;
  /* margin: 0 36px; */
  padding: 24px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.home label[for="upload-button"] {
  display: inline-block;
  padding: 10px;
  border: 2px dashed #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.home .hf-downloader {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  gap: 10px;
  margin: 0 24px;
  padding: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}


.home .dataset {
  padding: 12px;
  margin: 12px 0;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.home .scope-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home .scope-link {
  padding: 12px;
  margin-top: 12px;
  margin-right: 12px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.home .scope-link img {
  width: 240px;
  margin: 6px 0;
}
.home .scope-description {
  display: inline-block;
  max-width: 240px;
}

@media (prefers-color-scheme: dark) {
  .home label[for="upload-button"] {
    background-color: #555;
  }
  .home .scope-link {
    background-color: #444;
  }
}

.home .name-taken-warning {
  color: black;
  background-color: lightpink;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid coral;
}

