.home {
  padding: 12px 12px;
}

.home .new-dataset form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  gap: 10px;
}

.home label[for="upload-button"] {
  display: inline-block;
  padding: 10px;
  border: 2px dashed #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.home .scope-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home .scope-link {
  padding: 12px;
  margin: 12px;
  border: 1px solid lightsalmon;
}