.subHeaderContainer {
    background-color: var(--neutrals-color-neutral-1);
    border-bottom: 1px solid #e5e5e5;
    padding: 0 10px;
    z-index: 100;
}

.tabsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--text-color-text-neutral);
    font-size: var(--input-font-size);
    font-weight: 500;
}

.leftTabs {
    display: flex;
    align-items: center;
}

.rightTabs {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.scope {
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    gap: 4px;
}

.scopeSelector {
    min-width: 250px !important;
    /* padding: 6px !important; */
    select {
        padding-right: 40px !important;
    }
}


.tab {
    text-decoration: none;
    color: var(--neutrals-color-neutral-3);
    padding: 8px 12px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;
    /* font-size: 14px; */
}

.tab:hover {
    border-bottom-color: rgba(0, 0, 0, 0.2);
    color: var(--text-color-text-neutral-1);
}

.activeTab {
    border-bottom-color: var(--text-color-text-primary);
    color: var(--text-color-text-primary);
}

.disabledTab {
    color: var(--semantic-color-semantic-neutral-disabled);
    cursor: not-allowed;
}

.divider {
    border-left: 2px solid #e5e5e5;
    height: 34px;
    margin: 0 10px;
}
