
/* HEADER STYLES  */
#observablehq-header a[href] {
  color: inherit;
}

#observablehq-header a[target="_blank"] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
}

#observablehq-header a[target="_blank"]:hover span {
  text-decoration: underline;
}

#observablehq-header a[target="_blank"]::after {
  content: "↗";
}

@container not (min-width: 640px) {
  .hide-if-small {
    display: none;
  }
}


/* DOCUMENTATION STYLES */
.pageshot {
  width: 60%;
}
.screenshot {
  width: 55%;
  margin: 0 24px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
}

@container not (min-width: 640px) {
  .pageshot {
    width: 100%;
  }
  .screenshot {
    width: 100%;
  }
}


.static-table input[type=checkbox] {
  display: none;
}

/* HULL COMPONENT */
.hull {
  display: block;
}

/* TOOLTIP STYLES */
.tooltip {
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.cluster-content {
  display: flex;
  flex-direction: row;
}
.cluster-plot {
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  margin: 6px;
  width: 300px;
  max-width: 300px;
  display: inline-block;
}
.cluster-description {
  margin: 6px;
  padding: 4px;

}

@container not (min-width: 640px) {
}